<div layout="column">
	<div layout="row" class="footer-superior">
		<div flex-gt-sm="80" flex="80" layout-align="space-around center" layout="row" layout-padding>
				<div layout="row" >
					<div layout="column"  layout-align="space-around center" >
						<img ng-src="../app/img/adrian.jpg" alt="" class="avatar" >  
						<p style = "color : white" >Adrian Herrera</p>
					</div>
				</div>
				<div layout="row">
					<div layout="column"  layout-align="space-around center">
						<img ng-src="../app/img/matias.jpg" alt="" class="avatar"> 
						<p style = "color : white">Matias Gutierrez</p>
					</div>
				</div>
				<div layout="row">
					<div layout="column"  layout-align="space-around center" >
						<img ng-src="../app/img/felipe.jpg" alt="" class="avatar"> 
						<p style = "color : white">Felipe Acuña</p>
					</div>
				</div>
				<div layout="row">
					<div layout="column"  layout-align="space-around center">
						<img ng-src="../app/img/profe.jpg" alt="" class="avatar"> 
						<p style = "color : white">Samuel Sepulveda</p>
					</div>
				</div>
		</div>
		<md-divider></md-divider>
		<div class="footer-sponsor" flex-gt-sm="20" flex="20"  >
			<a href="http://dci.ufro.cl" layout-padding layout-margin layout-fill>
				<img src="../app/img/logodci.png" alt="" flex-gt-sm="40"  flex="60">
			</a>
		</div>
	</div>
	<md-divider ></md-divider>
	<div class="footer-copy" layout="column" layout-align="center center">
			<a href="/" style="text-decoration: none;">Sensor de datos ambientales IOT, 2017</a>
	</div>
</div>